window.__APP_CONFIG__ = {
  USE_MOCKS: ${VITE_USE_MOCKS},
  API_BASE_URL: "${VITE_API_BASE_URL}",
  MOCK_DELAY: ${VITE_MOCK_DELAY},
  AUTO_REFRESH: {
    PROCESSES: ${VITE_AUTO_REFRESH_PROCESSES},
    METRICS: ${VITE_AUTO_REFRESH_METRICS},
    ENABLED: ${VITE_AUTO_REFRESH_ENABLED}
  }
};
